@using System.Globalization
@{
    ViewData["Title"] = "Balance";
}

<h2 class="text-center">Top Up Balance</h2>
<form method="post" asp-action="TopUpBalance">
    <div class="d-flex align-items-center justify-content-center">
        <div class="p-2 bd-highlight col-example">
            <label>Enter amount of money</label>
        </div>

        <div class="p-2 bd-highlight col-example">
            @{string separator = CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator;
                string holder = "0" + separator + "00";}
            <input placeholder="@holder" name="balance" class="form-control set-decimal-number" min="0" step="0.01" />
        </div>

        <div class="p-2 bd-highlight col-example">
            <input type="submit" value="Confirm" />
        </div>
    </div>
</form>